@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
}

html{
    width: 100vw;
    overflow-x: hidden;
}

.container{
    position: relative; 
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background: white;
    display: flex;
}

.container .left_container{
    position: relative;
    flex-basis: 15%;
    background: #F7F7F7;

}


.container .right_container{
    position: relative;
    flex-basis: 85%;
    background: F7F7F7;
    display: flex;
    flex-direction: column;

}

                                        /* LEFT_CONTAINER*/

.sidebar{
    position: fixed;
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    grid-gap: 6%;
    transition: width 0.2s linear;
}

.sidebar .logo{
    overflow: hidden;
    height: 10%;
    width: 100%;
    left: 0;
    top: 2%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.sidebar .logo img{
    position: absolute;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.sidebar .menu{
    position: relative;
    height: 80%;
    width: 100%;
}

.sidebar .menu li{
    padding: 0.3rem;
    margin: 0.5rem 1rem;
    border-radius: 8px;
}

.menu li:hover, 
.active{
    background:  #a09c98;
}

.sidebar .menu a{
    color: #513820;
    font-size:0.8rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight:bolder;
}

.bx{
    position: relative;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    text-align: center;

}

.sidebar .menu a i{

    font-size: 1.8rem;
}

.sidebar .menu a span{
    margin-left: 2rem;
}


.sidebar .menu .logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
}

                                        /* RIGHT_CONTAINER */

.right_container{
    position: relative;
    width: 100%;
    height: 100%;
}

/* Block Right_Container -> 2 Block Topbar + Mainside */

.topbar{
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    padding: 1rem;

}


.mainside{
    width: 100%;
    height: 87%;
    display: flex;
    position: relative;

}

/* CSS cho Top bar */

.title{
    color: #513820;
    width: 80%;
}

.notifications_and_user{
    display: flex;
    width: 20%;
    height: 100%;
    position: relative;
    align-items: center;
}

.notifications{
    position: relative;
    font-size: 2.8rem;
    left: 55%;
    top: 8%;

    
}

ion-icon[name="notifications-circle-outline"] {
    color: #513820;
    cursor: pointer;

}

.notifications .num{
    position: absolute;
    top: 2px;
    right: 2px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #F7F7F7;
    background: red;
    color: #F7F7F7;
    font-weight: 700;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    flex: 80%;
  

}

.userava{
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    left: 60%;

}

.userava img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Css cho mainside */
/* Block mainside -> 2 block: 1block mainconten(noidung) + 1 block order */

.maincontent{
    width: 70%;
    height: 99%;
    display: flex;
    position: relative;
    flex-basis: 75%;

}

.right_maincontent{
    flex-basis: 30%;
    width: 100%;
    height: 100%;
    margin-left: 2%;

}

/* Css cho maincontent */

.maincontent_left{
    display: flex;
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    flex-basis: 30%;
}


.maincontent_right{
    position: relative;
    border: 1px solid #513820;
    border-radius: 10px;
    flex-basis: 70%; 
    flex-direction: column;
    display: flex;
    width: 70%;
    height: 100%;
}

/* Css cho maincontent_left (Thanh tim kiem va list tro chuyen)*/

.list-chat-search{
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
    height: 8%;
    background: #513820;
    margin-bottom: 2%;

}

.list-chat{
  
    border: 1px solid #513820;
    border-radius: 10px;
    position: relative;
    height: 92%;
    overflow: hidden;

}

/* Css cho thanh tim kiem */

.search-input{
  
    text-align: left;
    border-radius: 10px;
    border: 1px solid #513820;
    height: 100%;
    width: 100%;
 
 }

ion-icon[name="search-outline"] {
    position: absolute;
    left: 85%;
    font-size: 1.5rem;
  
}

/* Css cho list tro chuyen */


.list-chat-history{
    list-style: none;
    height: 100%;
    width: 106%;
    position: relative;
    overflow-y: scroll;
    

}

.contacts {
    border-radius: 15px;
    list-style: none;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0.3rem;

}

.contacts_item{
    display: flex;
    border: 0px solid #513820;
    border-radius: 15px;
    height: 15%;
    width: 100%;
    position: relative;
    grid-gap: 0.5rem;
    align-items: center;
}

.contacts_item .userava{
    flex-basis: 15%;
    background: #513820;
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
    margin: 0.7rem;
}

.numbermess{
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 2rem;
    flex-basis: 20%;
    padding: 0 3%;
}


.contacts_item_content{
    display: flex;
    flex-direction: column;
    font-weight: 100;
    overflow:hidden;
    flex-basis: 55%;
    font-size: 0.8rem;

}

.contacts_item_content .user_inf{
    font-weight: 800;
}




.numbermessnow{
    position: absolute;
    right: 1.5rem;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 0px solid #F7F7F7;
    background: #513820;
    color: #F7F7F7;
    font-weight: 100;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    left: 40%;
  
}

.numbermess span{
    font-size: 0.7rem;
    margin-top: 1.7rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
}

.list-chat-history li:hover, 
.active{
    background:  #a09c98;
    border-radius: 15px;
}

.unread{
    font-size: 0.8rem;
    font-weight: 600;
}


/* Css cho maincontent_right (chatbox) */


.chatbox-header {
	position: relative;
    display: flex;
    padding: 1rem;
    width: 100%;
    height: 10%;
    grid-gap: 1rem;
    border-radius: 0px;
    border-bottom: 1px solid #513820;
}


.chatbox-body {
	position: relative;
    display: flex;
    padding: 1rem 1rem 0;
    width: 100%;
    height: 80%;
    grid-gap: 1rem;
    top: 1%;
    flex-direction: column;
    border-radius: 0px;
    overflow: hidden;


}


.chatbox-footer {
	position: relative;
    display: flex;
    padding: 1rem;
    width: 100%;
    height: 10%;
    grid-gap: 1rem;
}


/* Css cho chatbox_header */

.chatbox-header .userava{
    left: 0;
}

.chatbox-userinf{
    display: flex;
    flex-direction: column;
    font-weight: 200;
   
}

.chatbox-userinf .user_inf{
    font-weight: 800;
}


#action_menu_btn {
	position: absolute;
	right: 5%;
	top: 0.5rem;
	color: #513820;
	cursor: pointer;
	font-size: 20px;
    background: #FFFFFF;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action_menu {
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}

.action_menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.action_menu ul li {
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}

.action_menu ul li i {
	padding-right: 10px;
}

.action_menu ul li:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
}


/* Css cho chatbox-body */


.body-content{
    position: relative;
    display: flex;
    padding: 1rem;
    width: 105%;
    height: 105%;
    grid-gap: 2.3rem;
    flex-direction: column;
    border-radius: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message{
    display: flex;
    height: fit-content;
    position: relative;    
    margin-right: 1%;
    width: 100%;

}

.message_user_mess{
    position: relative;
    width: 50%;
    display: flex;
}



.message_admin_mess{
    position: relative;
    display: flex;
    width: 50%;
    left: 50%;

}


.message_user_mess .userava{
    flex-basis: 15%;
    left: 0;
    margin-right: 2%;
}



.mess-content{
    padding: 5%;
    width: fit-content;
    background: #EEECE9;
    color: #513820;
    border-radius: 30px;
    font-weight: 100;
    display: flex;
    flex-direction: column;

}

.msg_time {
	position: absolute;
	bottom: -15px;
	color: #513820;
	font-size: 0.5rem;
    margin-left: -5%;
}

.msg_time_send {
	position: absolute;
	right: 0;
	bottom: -15px;
    color: #513820;
	font-size: 0.5rem;

}

.message_admin_mess .mess-content{
    background: #513820;
    color: #F7F7F7;
}

.message_user_mess .mess-content{
    border-top-left-radius: 0px;
 
}

/* Css cho chatbox-footer */


.input-group-text{
    display: flex;
    width: 90%;
    left: 3%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-group-text .search-input{
    color: #A19487;
    cursor: text;
    height: 3rem;
    position: absolute;
    width: 95%;
    left: 0;
    border-radius: 17px;
    padding: 0 20% 0 3%;


}

ion-icon[name="link-outline"] {
    position: absolute;
    font-size: 2rem;
    right: 14%;
    align-items: center;
    justify-content: center;
    position: absolute;
	cursor: pointer;

}

ion-icon[name="mic-circle-outline"] {
    position: absolute;
    right: 6%;
    font-size: 2rem;
    color: #513820;
    position: absolute;
	cursor: pointer;

}


.input-group-send{

    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #513820;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
    color: #FFFFFF;
    position: absolute;
    right:0;
	cursor: pointer;
    bottom: 20%;

}


/* Css cho Right_maincontent (ORDER) */

.rightside_container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;

}



/* Css cho ORDER */

.order{
 
    position: fixed;
    display: flex;
    width: 29%;
    height: 90%;
    top: 12%;
    flex-direction: column;
    transition: width 0.2s linear;
    cursor: pointer;
    color:#513820;
    overflow-x: auto;
    
}

.order .title_mini {
    width: 100%;
    position: relative;
}

.ordpending_stock{
    position: relative;
    height: 40%;
    width: 100%;
    top:0;
    right: 0;
}

.title_mini__Cus{
    position: absolute;
    top: 50%;
    width: 100%;
  
}
  
.ordpendind_customer{
    position: relative;
    height: 40%;
    width: 100%;
 
}

/* Css cho titile_mini */

.title_mini h2{
    font-size: 1.2rem;
    font-weight: 300;
    width: 85%;
    border-bottom: 1px solid #513820;
    padding: 0.3rem 0;
}

/* Css cho ordpending_stock */

.ordcontent_stock{
    top: 17%;
    border-radius: 6px;
    height: 35%;
    width: 31%;
    padding: 0rem 0.3rem 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: auto;


}

.item{
    display: flex;
    margin-top: 2%;
    position: relative;
    grid-gap: 2rem;
} 

.item .itm-confirmbtn{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

}

.itmnumber{
    display: flex;
    width: 80px;
    height: 50px;
    border-radius: 10px;
    border:1px solid #513820;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
  
     
}

.btn-conf{
    width: 80px;
    height: 25px;
    border-radius: 6px;
    background: #513820;
    color: #F7F7F7;
}

.btn-conf:hover{
    opacity: 0.3;
}

.item .itm-detail{
    display: flex;
    flex-direction: column;
    grid-gap: 0.5rem;
    font-size: 0.8rem;
}

.itm-daycreate{
    display: flex;
    grid-gap: 0.3rem;

}

.itm-status{
    grid-gap: 0.3rem;
    display: flex;

}

.itemstatusnow{
    flex: 2;
}

.stock-detail-statusnow{
    flex:2;
}

.itm-staffcreate{
    grid-gap: 0.3rem;
    display: flex;
}

.icon_arrow{
    width: 1.2rem;
    cursor: pointer;
    margin: 1rem 0.5rem;
}

ion-icon[name="arrow-forward-outline"] {
    font-size: 2rem;
    margin-right: 3rem;
    color: #A19487;
    flex: 1;
    cursor: pointer;

}

ion-icon[name="arrow-forward-outline"]:hover{
    opacity: 0.5;
}

/* Css cho tiltle_mini__Cus  */

.title_mini__Cus .title_mini {
    font-size: 1.2rem;
    font-weight: 300;
    width: 85%;
    border-bottom: 1px solid #513820;
    padding: 0.3rem 0;
}

/* Ordcontent_customer */

.ordcontent_customer{
    top: 62%;
    border-radius: 6px;
    height: 35%;
    width: 31%;
    padding: 0rem 0rem 0rem 0.5rem;
    display: flex;
    flex-direction: column;
    grid-gap: 0.2rem;

}

/* RESPONSIVE LAYOUT -CHUA XONG- */

/* TABLET */
/* 
@media only screen and (min-width:  45.25em) and (max-width: 1024px){
  
    span{
        display: none;
    }
    .sidebar .menu a i{
        position: relative;
        font-size: 1.8rem;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sidebar .menu a i{
        position: relative;
        font-size: 1.8rem;
        right: 0;
    }

    .staffinfor{
        font-size: 10px;
    }

    .notifications_and_user{
        right: 50%;
    }

    .title_mini h2{
        font-size: 12px;
    }

    .title_mini__Cus .title_mini{
        font-size: 12px;
    }

    .item{
        height: 50px;
        width: 70%;
        grid-gap: 0.5rem;
        margin-top: 15%;
    }


    .itm-daycreate{
        display: none;
    }
    .itm-status{
        display: none;
    }
    .itm-staffcreate{
        display: none;
    }

    ion-icon[name="arrow-forward-outline"] {
        font-size: 1.3rem;
        color: #A19487;
        cursor: pointer;
    
    }

    .search{
        width: 100px;
    }

    .search-input{
        font-size: 10px;
        padding: 2px 30px 0 8px;
    }

    ion-icon[name="search-outline"] {
        font-size: 1.4rem;
        color: #513820;
        font-weight: 100;
    }
   
    .setting-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-staffinf{
        position: relative;
        top:4%;

    }

    .setting .setting-content img{
        position: relative;
        top: 5%;
        height: 35%;
        width: 90%;
        right: 6%;
     
    }

}

/* MOBILE */

@media only screen and (max-width: /*46.1875em*/ 850px) {
    .staffinfor{
        font-size: 10px;
    }

    .notifications_and_user{
        right: 50%;
    }

    .title_mini h2{
        font-size: 12px;
    }

    .title_mini__Cus .title_mini{
        font-size: 12px;
    }

    .item{
        height: 50px;
        width: 70%;
        grid-gap: 0.5rem;
        margin-top: 15%;
    }


    .itm-daycreate{
        display: none;
    }
    .itm-status{
        display: none;
    }
    .itm-staffcreate{
        display: none;
    }

    ion-icon[name="arrow-forward-outline"] {
        font-size: 1.3rem;
        color: #A19487;
        cursor: pointer;
    
    }

    .search{
        width: 100px;
    }

    .search-input{
        font-size: 10px;
        padding: 2px 30px 0 8px;
    }

    ion-icon[name="search-outline"] {
        font-size: 1.4rem;
        color: #513820;
        font-weight: 100;
    }
   
    .setting-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-staffinf{
        position: relative;
        top:4%;

    }

    .setting .setting-content img{
        position: relative;
        top: 5%;
        height: 35%;
        width: 90%;
        right: 6%;
     
    }


}  
